[Unit]
Description="Cheque Check Telegram bot service"

[Service]
ExecStart=/home/ubuntu/tgbot_venv/bin/cheque_check_telegram_bot
User=ubuntu
WorkingDirectory=/home/ubuntu/tgbot_dist

[Install]
WantedBy=multi-user.target
