version: "3.9"
services:

  database:
    image: postgres:latest
    container_name: database
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: {{ db_password }}
    ports:
      - "5432:5432"
    volumes:
      - ./cheque_db.psql:/docker-entrypoint-initdb.d/cheque_db.sql

  api:
    image: 192.168.199.17:5001/cheque_check/server:v1.0
    container_name: api
    ports:
      - "3228:3228"
    environment:
      db_host: database
      db_port: 5432
      db_user: {{ db_user }}
      db_password: {{ db_password }}
      db_name: {{ db_name }}
      cheque_api_url: https://proverkacheka.com/api/v1/check/get
      cheque_api_token: {{ cheque_api_token }}
    depends_on:
      - database

  tgbot:
    image: 192.168.199.17:5001/cheque_check/tgbot:v1.0
    container_name: tgbot
    environment:
      server_api_url: "http://api:3228/"
      telegram_api_token: {{ telegram_api_token }}
    depend_on: api
